.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 5;
}

.div2 {
    grid-area: 2 / 1 / 3 / 5;
}

.div3 {
    grid-area: 3 / 1 / 4 / 2;
}

.div4 {
    grid-area: 3 / 2 / 4 / 3;
}

.div5 {
    grid-area: 3 / 3 / 4 / 4;
}

.div6 {
    grid-area: 3 / 4 / 4 / 5;
}

.div7 {
    grid-area: 4 / 1 / 5 / 2;
}

.div8 {
    grid-area: 4 / 2 / 5 / 3;
}

.div9 {
    grid-area: 4 / 3 / 5 / 4;
}

.div10 {
    grid-area: 4 / 4 / 5 / 5;
}

.div11 {
    grid-area: 5 / 1 / 6 / 2;
}

.div12 {
    grid-area: 5 / 2 / 6 / 3;
}

.div13 {
    grid-area: 5 / 3 / 6 / 4;
}

.div14 {
    grid-area: 5 / 4 / 6 / 5;
}

.div15 {
    grid-area: 6 / 1 / 7 / 2;
}

.div16 {
    grid-area: 6 / 2 / 7 / 3;
}

.div17 {
    grid-area: 6 / 3 / 7 / 4;
}

.div18 {
    grid-area: 6 / 4 / 7 / 5;
}

.border {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.button {
    background-color: rebeccapurple;
}